 @font-face {
    font-family: 'ArchivoNarrowBold';
    src: url(../fonts/ArchivoNarrow-Bold.otf);
}




.container {
    max-width: 1140px;
    display: block;
    margin: 0 auto;
    padding: 1em 0em;
   } 


.row {
    margin-right:0;
    margin-left: 0;
}

#logo{
    width: 68%;
    margin: .5em;

}
#titulo{
	background: url(../images/Cabeza.jpg);
	background-size:cover;
	text-align: center;
}

#titulo strong{
	color:#ffa900;
}

#titulo h1{
	font-size: 65px;
    font-weight: 300;
    font-family:'Fjalla One',sans-serif;
    color:#ffffff;
}
#titulo p{
    color:#414042;
    font-family:avenir Next;
    font-size: 27px;
}

button{
    border: 0;
    border-radius: 3em;
    text-align:center;
    background: #95e561;
    color: #ffffff;
    font-family:avenir Next;
    font-size:28px;
    font-weight: 300;
    padding: .3em 1em;
    box-shadow: 5px 5px 0px #5ba32c, 
    4px 4px 0px #5ba32c, 3px 3px 0px #5ba32c, 
    2px 2px 0px #5ba32c, 1px 1px 0px #5ba32c;
    margin-top: 4em;
}

#frase p{
    font-family:avenir Next;
    text-align: center;
    font-size: 32px;
    color: #dc3b62;
}

#descubrir{
    text-align: center;
    margin-top: -4em;
}

#descubrir p{
    color:#414042;
    font-family:avenir Next;
    font-size: 22px;
    font-weight: 300;
    margin: 1.5em;
    text-align: center;
}
#descubrir strong{
    color:#f59933;
}
#descubrir .tres p{
    font-size: 19px;
    margin-right: 9em;
    text-align: justify;
}

#limones{
    background:url(../images/amarillo.png);
    background-size:cover;
    padding: 37em 0em;
    margin-top: -23em;
}

#seccion2{
    background:url(../images/rosa.png);
    background-size: cover;
    margin-left: -13em;
    margin-top: -49em;
}

/*#seccion2 .container{
    margin: 2em auto;
    padding: 1em 1em;
}*/
#seccion2 h2{
    color:#f59933;
    font-size: 55px;
    font-family:Fjalla One;
    font-weight: inherit;
    text-align: end;
    margin-top: 287px;
}

#seccion2 p{
    color: #414042;
    font-family: Avenir Next;
    font-size: 29px;
    text-align: end;
    margin-top: -2em;
}

#naranjas img{
    padding:  0em;
    margin-left:-13em;
    width: 91%;
    margin-top: -2em;
}

#iconos{
    margin-top: -29em;
}

#iconos p{
    color:#414042;
    font-family:avenir Next; 
    font-size: 22px;
    font-weight: 300;
    margin: 24px 0px;
    text-align: center;
}

#iconos .box img{
    width: 22%;
    margin-top: 3em;
}


#beneficios .box {
    margin: 1em;
    margin-bottom: 3em;
}


#cta{
	background: url(../images/moras.png);
    background-size: cover;
    margin: 0em auto;
    padding: 9em;
    margin-left: -3em;
    }

#cta button{
	border: 0;
    border-radius: 3em;
    text-align:center;
    background: #95e561;
    color: #ffffff;
    font-family:avenir Next;
    font-size:28px;
    font-weight: 300;
    box-shadow: 5px 5px 0px #5ba32c, 
    4px 4px 0px #5ba32c, 3px 3px 0px #5ba32c, 
    2px 2px 0px #5ba32c, 1px 1px 0px #5ba32c;
    padding: .3em 1em;
    position: absolute;
    margin-left: -1.5em;
}

button:hover{
    background-color:#75ce3c;
    color: #fff;
}
#cta button:hover{
    background-color:#75ce3c;
    color: #fff;
}

.morado{
    color:#7c4c6d;
}

.fondo{
    color: #9d708f;
}

footer{
	text-align: center;
    background: #9d7090;
    color:white;
}

footer h2{
    padding-top: 1em;
    font-size: 40px;
    font-family: Avenir Next;
    line-height: 41px;
    font-weight: 300;
}

footer img{
    margin: 1.5em;
    width: 71%;
}
footer p{
    font-family: Source Sans Pro;
    font-size: 14px;
    font-weight: 300;
}

/*Empieza Tablet*/

@media only screen and (min-width:768px) {



#limones{
    padding: 36em 0em;
    margin-left: -41em;
    margin-top: -28em;
}

#seccion2{
    margin-left: -13em;
    margin-top: -24em;
}

#descubrir p{
    text-align: justify;
}

#descubrir .tres p {
    font-size: 26px;
    text-align: center;
    margin-right: 0em;
}

#naranjas img{
    margin-left: -17em;
    width: 68%
    }
}
